
/Backend/app/Data_science_p1.xlsx
/Backend/app/Data_science_p1_YDqDeWT.xlsx
/Backend/app/BRO_DEJI_WORK_JuZkLiK.xlsx
/Backend/app/BRO_DEJI_WORK.xlsx
/Backend/app/Customer_Churn_Model.joblib
/Backend/app/media/uploads/2m_Sales_Records.csv
/Backend/app/media/uploads/customer_churn_dataset-testing-master_-_Copy_-_Copy.csv
/Backend/app/media/uploads/Test-Set.csv
/Backend/app/media/uploads/train_lS3H2oL.csv
/Backend/app/media/uploads/train_S6SSSP9.csv
/Backend/app/media/uploads/train_OOnHWjz.csv
/Backend/app/media/uploads/train.csv
/Backend/app/base/machine_learning_python/2m Sales Records.csv
/Backend/app/base/machine_learning_python/Clustering_Customer_Segmentation.joblib
/Backend/app/base/machine_learning_python/customer_chun.py
/Backend/app/base/machine_learning_python/customer_churn_dataset-testing-master - Copy - Copy.csv
/Backend/app/base/machine_learning_python/customer_churn_dataset-testing-master - Copy.csv
/Backend/app/base/machine_learning_python/customer_churn_dataset-testing-master.csv
/Backend/app/base/machine_learning_python/Customer_Churn_Model.joblib
/Backend/app/test.csv
/Backend/app/Regression_Model_Revenue.joblib
/Backend/app/user_profile/2m Sales Records.csv
/Backend/app/base/machine_learning_python/Regression_Model_Revenue.joblib
/Backend/app/base/machine_learning_python/Test-Set.csv
/Backend/app/base/machine_learning_python/test.csv
/Backend/app/base/machine_learning_python/train.csv